.DS_Store
frontend/node_modules
frontend/dist
backend/out
backend/res


# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# compiler output files
backend/out/**

# Python cache files
*.pyc
**/__pycache__/


backend/poetry.lock
frontend/package-lock.json
