:root {
    --main-font-color: #444; /* Font, Menu, ContextMenu, StartButton */
    --main-bg-color: #FFF; /* Page */
    --main-hover-color: #888; /* Hover on Menu, ContextMenu */
    --main-border-color: #dedede;
    --second-bg-color: rgb(247, 247, 247); /* Sidebar, White Buttons, Modals */
    --second-border-color: #bbb; /* UI input fields */

    --input-active-color: rgb(255, 255, 204); /* Active background highlight color of input element */
    --input-selection-color: var(--main-font-color); /* Selected element of an input such as dropdown or checkbox #c7eaff*/

    --success-color: rgb(0, 100, 220);
    --warning-color: #f09b00;
    --error-color: rgb(255, 0, 0);

    /* Second buttons = secBg buttons with dark border in modal */
    --second-button-bg-color: var(--second-bg-color);
    --second-button-border-color: var(--main-font-color);

    --button-border-radius: 4px;

    --window-border-radius: 4px;
    --window-buton-bg-color: var(--main-bg-color);
    --window-buton-border-color: var(--main-font-color);

    --node-title-font-size: 1.6rem;
    --node-border: 2px solid var(--main-hover-color);
    --node-outline-color: var(--main-hover-color);
    --node-border-radius: 10px;
    --connection-color: #c1c1c1;

    --form-font-size: 1rem;
    --form-font-size-small: 0.85rem;

    --editor-scale-fac: 1; /* Required scale amount to preserve scale of elements when editor is scaled (min:1) */
}

* {
    font-family: "Noto Sans", sans-serif !important;
    scrollbar-width: thin;
}

#app {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: var(--main-font-color);
}

body {
    margin: 0;
    overflow: hidden;
}

html, body, #app {
    height: 100%;
    background: var(--main-bg-color);
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

.controlContainer {
    text-align:left;
    display:flex;
    height:100%;
    min-height: 36px;
}

.controlContainer .compSettings {
    min-width:80px;
    flex: 1 1 auto;
    min-height: 30px; /* Required when no title is present to have the same height as with */
}

.controlContainer .compSettingsTitle {
    color: white;
    font-size: 16px;
    line-height: 24px;
    width:100px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    margin: 6px 10px 6px 6px;
    flex: 0 0 auto;
}

.ctrlRow {
    height: 30px;
    position: relative;
    top: -6px;
}

.ctrlRow:hover:not(:focus-within) .ctrlIcon {
    cursor: pointer;

    visibility: visible;
}

.ctrlRow .ctrlIcon {
    visibility: hidden;
    padding-left: 3px;
    padding-right: 3px;
    font-size:26px;
    color: #555;
}

.ctrlIcon.activated {
    opacity: 0.25;
}

.displayModeSetting {
    display:flex;
    flex-direction: row;
    margin-top: 5px;
    margin-bottom: 5px;
    height: 25px;
}

.displayModeSettingTitle {
    flex: 0 0 30%;

    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;

    text-align:left;
}

.displayModeSettingOption {
    min-width: 1px; /* Otherwise it will not work with flex */
    flex: 1;
}

.displayModeSettingReset {
    flex: 0 0 30px;
    cursor: pointer;
    padding-top: 1px;
}

.loader {
    font-size: 10px;
    margin: 0 auto;
    text-indent: -9999em;
    width: 11em;
    height: 11em;
    border-radius: 50%;
    background: #69C0FF;
    background: linear-gradient(to right, #69C0FF 10%, rgba(0,255,255, 0) 42%);
    position: relative;
    animation: load3 1.4s infinite linear;
    transform: translateZ(0);
}
.loader:before {
    width: 50%;
    height: 50%;
    /*background: #69C0FF;*/
    border-radius: 100% 0 0 0;
    position: absolute;
    top: 0;
    left: 0;
    content: '';
}
.loader:after {
    background: var(--main-font-color);
    width: 75%;
    height: 75%;
    border-radius: 50%;
    content: '';
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}
@-webkit-keyframes load3 {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.clickableIcon {
    cursor: pointer;
}

.disabled {
    opacity: 0.5;
    pointer-events: none;
}

.clickableIcon:active {
    color: #828282;
}

.noSelect {
    user-select: none; /* Standard syntax */
}

input, textarea {
    font-size: var(--form-font-size);
    border: solid 1px var(--second-border-color);
    border-radius: var(--button-border-radius);
}

/** TODO: Merge/Streamline editorInput and formInput (other other sub-styles such as dm settings, CreateOpMenu.vue...) style! */

input.editorInput, textarea.editorInput {
    outline: none;
    border: none;
    box-shadow: 0 0 0 calc(1px * var(--editor-scale-fac)) var(--second-border-color);
    border-radius: var(--button-border-radius);
    color: var(--main-font-color);
    cursor: pointer;
}

input.editorInput[ei-active], textarea.editorInput[ei-active] {
    background: var(--input-active-color) !important;
    color: var(--main-font-color) !important;

    box-shadow: 0 0 0 calc(2px * var(--editor-scale-fac)) var(--main-font-color);
    text-shadow: -0.01ex 0 0 var(--main-font-color), 0.01ex 0 0 var(--main-font-color) !important;
}

input[type=checkbox]:after.editorInput:checked {
    width: calc(60% * var(--editor-scale-fac));
    height: calc(60% * var(--editor-scale-fac));
}

.editorInput.editorNameInput {
    color: white;
    background-image: none;
    background-color: transparent;
    user-select: none;
    box-shadow: none;
}

input[type=checkbox] {
    user-select: none;
    display: inline-block;
    padding: 0;
    margin: 0;
    height: 18px;
    width: 18px;
    border-radius: var(--button-border-radius);
    cursor: pointer;
    position: relative;
    appearance: none;
    background: white;
    color: var(--input-selection-color);
}

input[type="checkbox"]:checked::after {
    content: '';
    position: absolute;

    border-radius: 2px;
    top: 50%;
    left: 50%;
    transform: translate(calc(-50%), calc(-50%));
    width: 60%;
    height: 60%;
    background: var(--input-selection-color);
}

input[type="checkbox"]:active {
    background: #fbfbfb;
}

.hidden {
    display: none!important;
}

.resizableHandleNW {
    transform: rotate(180deg);

    left: -1px !important;
    top: -1px !important;
}

.resizableHandleNE {
    transform: rotate(270deg);

    right: -1px !important;
    top: -1px !important;
}

.resizableCtrl {
    display: flex;
}

.resizableCtrl > div {
    flex-grow: 1;
}

.alignedSelect .vs__selected {
    padding-left: 0!important;
    margin-left: 0!important;
}


.modal {
    border: 1px solid var(--main-border-color)!important;
    top: 9%!important;
    border-radius: var(--window-border-radius)!important;
}

.modalFooterButtons {
    display:inline-block;
    margin-top:10px;
}

.modalFooterButtons > * {
    min-width: 85px;
    display:inline-block;
    margin: 0 2px;
}

.limitedText {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.mirrorY {
    transform: rotate(180deg);
}

.errorMsg {
    color: var(--error-color);
}

.warningMsg {
    color: var(--warning-color);
}

.successMsg {
    color: var(--success-color);
}

/* --------- Form Elements --------- */

.formInputField {
    height: 2rem;
    text-align: center;
    border:solid 1px var(--second-border-color);
    border-radius: var(--button-border-radius);
    display: block;
    flex: 1 1 auto;
    min-width: 0;
}

input.formInputField {
    /* move text a little to the right to match selects */
    padding-left: 5px;
}

.formInputField.small {
    font-size: var(--form-font-size-small);
}

.formInputField.alignLeft, .formInputLabel.alignLeft {
    text-align: left;
}

.formInputContainer {
    display:flex;
    flex-direction: row;
    margin-top: 10px;
}

.formInputLabel {
    cursor: default;
    padding-top: 0.5em; /* Center vertically */
    flex: 0 0 auto;
}

/* --------- Windows --------- */

.window {
    background: var(--second-bg-color);
    border: 2px solid var(--main-border-color);
    border-radius: var(--window-border-radius);
    padding: 2px;
}

.window .windowContent {
    padding: 5px 10px;
}

.window .windowTitle {
    font-weight: bold;
    cursor: default;
}

/* --------- Sidebar Docks --------- */

.dock .openCloseButton {
    position: absolute;
    top: 0;
    cursor: pointer;
    height: 100vh;
    width: 16px;
    box-sizing: content-box;
    background: rgb(255,255,255);
    border-left: 2px solid var(--main-border-color);
    border-right: 2px solid var(--main-border-color);
}

.dock.left {
    padding-right: 16px;
}

.dock.right {
    padding-left: 16px;
}

.dock.left .openCloseButton.opened {
    right: -2px;
    background: linear-gradient(90deg, var(--second-bg-color) 0%, rgb(200, 200, 200) 300%);
}

.dock.right .openCloseButton.opened {
    left: -2px;
    background: linear-gradient(-90deg, var(--second-bg-color) 0%, rgb(200, 200, 200) 300%);
}

.dock.left .openCloseButton.closed {
    right: -2px;
    background: linear-gradient(-90deg, var(--second-bg-color) 0%, rgb(200, 200, 200) 100%);
}

.dock.right .openCloseButton.closed {
    left: -2px;
    background: linear-gradient(90deg, var(--second-bg-color) 0%, rgb(200, 200, 200) 100%);
}

.dock .openCloseButton > i {
    position: absolute;
    font-size: 20px;
    top: calc(50% - 27px);
    opacity: 0.5;
    left: -2px;
}

/* -------- Notifications ------------- */

.notification {
    color: white;
    background: color-mix(in srgb, var(--main-font-color), transparent 5%);
    border: 2px solid var(--main-font-color);
    border-radius: 8px;
    margin-top: -8px;

    font-size: var(--node-title-font-size);
    padding-left: 5px;
    padding-right: 5px;

    text-align: center;
    width: 100%;
    max-width: 310px;
    box-sizing: border-box;

    pointer-events: none;
    user-select: none;
}

.notification .arrow {
    position: absolute;
    bottom: -5px;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 50px;
    height: 25px;
}

.notification .arrow > span {
    margin: 20px 0;
    display: inline-block;
    vertical-align: middle;
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid var(--main-font-color);
}

.notificationFade-enter-active {
    transition: opacity 250ms;
}

.notificationFade-enter {
    opacity: 0;
}

.notificationFade-enter-to {
    opacity: 1;
}

.notificationFade-leave-active {
    transition: opacity 50ms;
}

.notificationFade-leave-to {
    opacity: 0;
}

/* --------- Slider overrides --------- */

.vue-slider-process {
    background: #92b6f0 !important;
}

.vue-slider-rail {
    background-color: #c2d6f6 !important;
}

.vue-slider-rail:hover {
    cursor: pointer !important;
}

/* --------- VSelect overrides --------- */

.v-select .vs__selected {
    background-color: var(--second-bg-color);
    max-width: 100%;
    overflow: hidden;
    white-space: nowrap;
    display:flow-root;
    text-overflow: ellipsis;
    text-align: left;
}

.v-select:not(.vs--multiple) .vs__selected {
    padding: 0!important;
}

.v-select {
    display: flex;
    box-sizing: content-box !important;
}

.v-select > div {
    flex: 1;
    min-width: 0;
}

.v-select .vs__selected-options {
    min-width: 0; /* Fix against flex's auto min-width */
}

.v-select #vs1__listbox > li {
    overflow: hidden;
    text-overflow: ellipsis;
}

/** Hide caret **/
.v-select .vs__search {
    caret-color: transparent;
    pointer-events: none;
}

.v-select .vs__dropdown-option--highlight {
    background: var(--input-selection-color);
}

.formInputField.v-select {
    border: none;
    padding-top: 2px;
}

.formInputField.v-select .vs__dropdown-toggle {
    border: solid 1px var(--second-border-color);
    border-radius: var(--button-border-radius);
}

/* --------- Ace-Editor overrides --------- */

.ace_editor, .ace_editor *{
    font-family: "Monaco", "Menlo", "Ubuntu Mono", "Droid Sans Mono", "Consolas", monospace !important;
}

.ace_editor .ace_gutter {
    background: #efefef !important;
}

.ace_editor .ace_content {
    background: white;
}

.ace-github.ace_focus .ace_marker-layer .ace_active-line {
    background: rgb(245, 245, 245);
}
